#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .memory-cards-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .memory-card {
      border: none;
      width: 17.5%;
      height: auto;
      padding: 0 2px;
      perspective: 1000px;
      transition: 0.6s;
      max-width: 130px;
      background: transparent;
      &.back {
        transform: rotateY(180deg);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
